*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 0rem; }

body {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  text-transform: uppercase; }
  .heading-primary--main {
    background-image: linear-gradient(to right, #6D6027, #D3CBB8);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.3rem;
    font-size: 6.8rem;
    display: block;
    margin-top: 10rem; }
    @media screen and (max-width: 43.75em) {
      .heading-primary--main {
        font-size: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        width: 40rem;
        font-size: 4rem; } }
  .heading-primary--sub {
    color: #eeeeee;
    display: block;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    margin-top: 10rem; }

.heading-secondary {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #6D6027, #D3CBB8);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.5rem;
  font-size: 5rem;
  transition: all 1s; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 4rem; } }
  .heading-secondary-form {
    margin-bottom: 4rem;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .heading-secondary-form {
        font-size: 3.5rem; } }

.heading-tertionary {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #6D6027, #D3CBB8);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  letter-spacing: 0.5rem;
  font-size: 4rem;
  display: flex;
  flex: 0 0 28%;
  margin: 0rem 3rem 5.5rem;
  justify-content: center; }
  @media only screen and (max-width: 75em) {
    .heading-tertionary {
      margin: 0rem 0rem 3rem;
      font-size: 3.5rem;
      padding: 0rem 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading-tertionary {
      margin: 0rem 0rem 2rem; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-huge {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-medium-plus {
  margin-bottom: 5rem !important; }

.u-padding-top-tiny {
  padding-top: 1.6rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 8rem; }

.u-margin-left-huge {
  margin-left: 44rem !important; }

.row {
  margin: 0rem auto;
  max-width: 124rem;
  text-align: center; }
  @media screen and (max-width: 87.5em) {
    .row {
      width: 118rem; } }
  @media screen and (max-width: 68.75em) {
    .row__clases {
      width: 100rem; } }
  @media only screen and (max-width: 56.25em) {
    .row__clases {
      width: 70rem; } }
  @media only screen and (max-width: 37.5em) {
    .row__clases {
      width: 40rem; } }
  @media only screen and (max-width: 75em) {
    .row__beneficios {
      width: 100rem; } }
  @media only screen and (max-width: 56.25em) {
    .row__beneficios {
      width: 40rem; } }
  @media only screen and (max-width: 75em) {
    .row__gallery {
      width: 72rem; } }
  @media only screen and (max-width: 37.5em) {
    .row__gallery {
      width: 40rem; } }
  @media only screen and (max-width: 75em) {
    .row__tarifas {
      width: 84rem; } }
  @media only screen and (max-width: 56.25em) {
    .row__tarifas {
      width: 60rem; } }
  @media only screen and (max-width: 37.5em) {
    .row__tarifas {
      width: 48rem; } }
  @media screen and (max-width: 25em) {
    .row__tarifas {
      width: 40rem; } }
  @media screen and (max-width: 87.5em) {
    .row__footer {
      width: 110rem; } }
  @media only screen and (max-width: 75em) {
    .row__footer {
      width: 50rem; } }
  @media only screen and (max-width: 37.5em) {
    .row__footer {
      width: 30rem; } }

.material-icons {
  font-size: 5rem;
  margin-top: 1rem; }

.flex {
  list-style: none;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 2rem;
  justify-content: center; }
  .flex__shape {
    flex: 0 0 32.5%;
    margin: 0.5rem 0.5rem 5.5rem;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .flex__shape {
        flex: 0 0 48.5%; } }
    @media only screen and (max-width: 37.5em) {
      .flex__shape {
        flex: 0 0 95%; } }
    .flex__shape-clases:nth-child(n) {
      background-size: 50rem;
      background-repeat: no-repeat; }
    .flex__shape-clases:nth-child(1) {
      background-position-x: -3.5rem; }
    .flex__shape-clases:nth-child(2) {
      background-position-x: -7rem; }
    .flex__shape-clases:nth-child(3) {
      background-position-x: -4rem; }
    .flex__shape-clases:nth-child(1) {
      background-image: url("../img/class-1.jpg"); }
    .flex__shape-clases:nth-child(2) {
      background-image: url("../img/class-2.jpg"); }
    .flex__shape-clases:nth-child(3) {
      background-image: url("../img/class-3.jpg"); }
    .flex__shape-clases:nth-child(4) {
      background-image: url("../img/class-4.jpg"); }
    .flex__shape-clases:nth-child(5) {
      background-image: url("../img/class-5.jpg"); }
    .flex__shape-clases:nth-child(6) {
      background-image: url("../img/class-6.jpg"); }
  .flex__clases__background {
    background-color: #1a1a1a;
    position: absolute;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    width: 8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 142%);
    z-index: 1; }
    .flex__clases__background__icon {
      position: relative;
      display: inline-block;
      background-image: -webkit-gradient(linear, left top, right top, from(#6D6027), to(#D3CBB8));
      background-image: linear-gradient(to right, #6D6027, #D3CBB8);
      -webkit-background-clip: text;
      color: transparent;
      z-index: 100; }
  .flex__clases__heading {
    margin-top: 26rem;
    background-color: #1a1a1a;
    color: #f7f7f7;
    position: relative;
    -webkit-transform: translate(0%, 85%);
    transform: translate(0%, 85%);
    padding-top: 2rem; }
    @media screen and (max-width: 68.75em) {
      .flex__clases__heading {
        -webkit-transform: translate(0%, 70%);
        transform: translate(0%, 70%); } }
  .flex__clases__image {
    position: absolute; }

.diamond__card {
  height: 42rem;
  width: 40rem;
  position: relative;
  display: inline-block;
  margin-bottom: 5rem;
  background-image: linear-gradient(to right, #6D6027, #D3CBB8);
  clip-path: polygon(30% 0%, 70% 0px, 95% 28%, 50% 99%, 5% 28%); }
  .diamond__card:hover .diamond__card__paragraph__background {
    opacity: 1;
    transform: translatey(-22rem); }
  .diamond__card:hover .diamond__card__title {
    transform: translatey(-35rem);
    opacity: 0.2; }
  .diamond__card:hover .diamond__card__logo {
    transform: translatey(-35rem); }
  .diamond__card__title {
    font-size: 2.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 200;
    padding: 0.5rem 8rem;
    margin-top: 7rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    transition: all 1s; }
  .diamond__card__paragraph__background {
    background: #00000066;
    padding: 0rem 5rem;
    transition: all 1s;
    position: absolute;
    backface-visibility: visible;
    transform: translateY(15rem); }
    .diamond__card__paragraph__background--set {
      font-size: 2rem;
      color: #fff;
      position: relative;
      letter-spacing: 1px; }
  .diamond__card__logo {
    margin-top: 4rem;
    opacity: 0.4;
    transition: all 1s; }

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 20rem);
  grid-gap: 15px; }
  @media only screen and (max-width: 75em) {
    .gallery {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 20rem); } }
  @media only screen and (max-width: 56.25em) {
    .gallery {
      display: none; } }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    cursor: pointer; }

.lightbox {
  display: none;
  z-index: 5;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 56.25em) {
    .lightbox {
      display: block;
      position: relative;
      backdrop-filter: none;
      background-color: transparent;
      height: 40vh; } }
  @media only screen and (max-width: 37.5em) {
    .lightbox {
      height: 30vh; } }
  .lightbox__shape {
    width: 60%;
    height: 74.71vh;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    border-radius: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .lightbox__shape {
        height: auto; } }
    @media only screen and (max-width: 37.5em) {
      .lightbox__shape {
        width: 110%; } }
    @media screen and (max-width: 25em) {
      .lightbox__shape {
        width: 90%; } }
    .lightbox__shape__img {
      width: 100%;
      height: auto;
      border-radius: 1rem; }
  .lightbox__icon {
    position: relative;
    display: inline-block;
    background-image: -webkit-gradient(linear, left top, right top, from(#6D6027), to(#D3CBB8));
    background-image: linear-gradient(to right, #6D6027, #D3CBB8);
    -webkit-background-clip: text;
    color: transparent;
    z-index: 100;
    font-size: 7rem;
    transition: all .5s;
    cursor: pointer;
    user-select: none; }
    .lightbox__icon__back {
      position: absolute;
      top: 50%;
      left: 50%;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      transform: translate(-50%, -50%);
      left: 10%;
      box-shadow: none; }
      @media only screen and (max-width: 37.5em) {
        .lightbox__icon__back {
          top: 115%; } }
      @media screen and (max-width: 25em) {
        .lightbox__icon__back {
          top: 110%;
          left: 25%; } }
    .lightbox__icon__next {
      position: absolute;
      top: 50%;
      left: 50%;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      transform: translate(-50%, -50%);
      left: 90%;
      box-shadow: none;
      background-image: linear-gradient(to left, #6D6027 40%, #D3CBB8); }
      @media only screen and (max-width: 37.5em) {
        .lightbox__icon__next {
          top: 115%; } }
      @media screen and (max-width: 25em) {
        .lightbox__icon__next {
          top: 110%;
          left: 75%; } }
    .lightbox__icon:hover {
      font-size: 8rem; }

@media only screen and (max-width: 56.25em) {
  .flex {
    margin-top: -2rem; } }

.flex__heading-tertionary {
  cursor: pointer; }
  .flex__heading-tertionary-active {
    text-decoration: underline solid #eeeeee;
    text-underline-offset: 1rem;
    transition: all 2s; }

.flex__shape-tarifas {
  flex: 0 0 28%;
  margin: 0.5rem 3rem 5.5rem; }

.flex__background {
  height: 55rem;
  border-radius: 3px;
  border-style: solid;
  border-color: #eeeeee;
  box-shadow: 0 0.5rem 2rem rgba(238, 238, 238, 0.8);
  position: relative;
  cursor: pointer;
  transition: all 0.2s; }
  @media only screen and (max-width: 75em) {
    .flex__background {
      height: 30rem; } }
  @media only screen and (max-width: 56.25em) {
    .flex__background {
      height: 38rem; } }
  @media only screen and (max-width: 37.5em) {
    .flex__background {
      height: 40rem; } }
  @media screen and (max-width: 25em) {
    .flex__background {
      height: 46rem; } }
  .flex__background:hover {
    box-shadow: 0 1rem 4rem rgba(238, 238, 238, 0.8); }

.flex__title {
  margin: 4rem 0rem 3rem;
  font-size: 3.5rem;
  letter-spacing: 2px;
  color: #eeeeee; }
  @media only screen and (max-width: 37.5em) {
    .flex__title {
      margin: 2rem 0rem 1rem; } }

.flex__paragraph {
  margin: 0 3rem;
  color: #bebebe;
  letter-spacing: 1px; }
  @media only screen and (max-width: 37.5em) {
    .flex__paragraph {
      margin: 0rem 2rem; } }

.flex__price {
  color: #eeeeee;
  bottom: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  letter-spacing: 4px; }

.containerTab {
  display: flex;
  visibility: hidden; }

.tabcontent__flexed {
  display: flex; }
  @media only screen and (max-width: 75em) {
    .tabcontent__flexed {
      display: block; } }

#tabcontent__second {
  display: none; }

#tabcontent__third {
  display: none; }

.form__row {
  position: relative; }
  .form__row__background {
    background-color: #1a1a1a;
    position: absolute;
    width: 79rem;
    padding: 2rem 5.5rem 6rem 5.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #eeeeee solid;
    border-radius: 5px; }
    @media only screen and (max-width: 56.25em) {
      .form__row__background {
        width: 65rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__row__background {
        width: 36rem;
        padding: 2rem 2.5rem 6rem 2.5rem; } }

.form__group {
  margin-bottom: 1rem; }

.form__input {
  padding: 1.5rem 2rem;
  width: 100%;
  background-color: #1a1a1a;
  border: none;
  font-size: 1.7rem;
  color: #eeeeee; }
  .form__input-textarea {
    min-height: 115px; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 1rem rgba(211, 203, 184, 0.1);
    border-bottom: 2px solid #6D6027; }
    .form__input:focus:invalid {
      border-bottom: 1px solid red; }
  .form__input::-webkit-input-placeholder {
    color: #bebebe; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4.5rem);
  transform: translateY(-4.5rem); }
  .form__input:placeholder-shown + .form__label-textarea {
    -webkit-transform: translateY(-11.5rem);
    transform: translateY(-11.5rem); }

.form__label {
  margin-left: 2rem;
  margin-top: 0.7rem;
  transform: translateY(-9rem);
  display: block;
  -webkit-transition: all .3s;
  transition: all .5s;
  font-size: 1.7rem;
  color: #6D6027; }
  .form__label-textarea {
    transform: translateY(-16rem); }

.form__wrap {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: 10rem;
  height: 6rem;
  margin: 0 auto; }
  .form__wrap:hover .form__bgbtn {
    transform: translateY(-1rem);
    box-shadow: 0 1rem 2rem rgba(211, 203, 184, 0.6); }

.form__bgbtn {
  position: absolute;
  z-index: -1;
  width: 30rem;
  height: 6rem;
  background: #6D6027;
  background: linear-gradient(-135deg, #6D6027, #D3CBB8, #6D6027, #D3CBB8);
  top: 0;
  left: -100%;
  transition: all 0.5s; }

.form__btn {
  cursor: pointer;
  min-width: 30rem;
  height: 6rem;
  font-size: 1.8rem;
  border: none;
  background: transparent; }

.boxConfirm {
  width: 10rem;
  height: 5vh;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  display: none;
  position: fixed; }

.header {
  background-image: url(../img/hero.jpg);
  height: 95vh;
  position: relative;
  background-size: cover; }
  @media screen and (max-width: 81.25em) {
    .header {
      background-image: url(../img/hero-land.jpg); } }
  @media screen and (max-width: 62.6em) {
    .header {
      background-image: url(../img/hero-port.jpg); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      background-image: url(../img/image.jpg); } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 45.5%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        margin-left: 5rem; } }

.footer {
  background-color: #1a1a1a;
  padding: 6rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo {
    width: 16rem;
    height: auto;
    position: relative;
    margin-bottom: 2rem; }
  .footer__navegation {
    display: flex; }
    @media only screen and (max-width: 75em) {
      .footer__navegation {
        display: block; } }
    .footer__navegation__icons {
      flex: 0 0 50%; }
    .footer__navegation__copyright {
      flex: 0 0 50%; }
  .footer__icon {
    font-size: 3.5rem;
    position: relative;
    display: inline-block;
    background-image: -webkit-gradient(linear, left top, right top, from(#6D6027), to(#D3CBB8));
    background-image: linear-gradient(to right, #6D6027, #D3CBB8);
    -webkit-background-clip: text;
    color: transparent;
    z-index: 100;
    margin: 2rem;
    cursor: pointer; }
  .footer__copyright {
    margin-left: 15rem; }
    @media only screen and (max-width: 75em) {
      .footer__copyright {
        margin-left: 0rem; } }

#navigation, .navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 18%;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  transition-duration: .7s; }
  @media only screen and (max-width: 56.25em) {
    #navigation, .navigation {
      padding: 3rem 12rem 2rem 5rem;
      justify-content: flex-end; } }
  #navigation__scroll, .navigation__scroll {
    background-color: #1a1a1a;
    width: 100%;
    padding: 1rem 18%;
    z-index: 1000; }
  #navigation__logo, .navigation__logo {
    cursor: pointer;
    height: 5.5rem;
    margin-right: 2rem; }
    @media only screen and (max-width: 56.25em) {
      #navigation__logo, .navigation__logo {
        position: relative;
        flex: auto; } }
  #navigation__list, .navigation__list {
    font-size: 1.8rem;
    list-style: none; }
    @media only screen and (max-width: 56.25em) {
      #navigation__list, .navigation__list {
        font-size: 3.8rem;
        list-style: none;
        backdrop-filter: blur(5px);
        background-color: #1a1a1ad5;
        position: absolute;
        margin-top: -50rem; } }
  #navigation__item, .navigation__item {
    display: inline-block;
    padding: 0rem 1rem; }
    #navigation__item a, .navigation__item a {
      color: #f7f7f7;
      transition: all 0.3s ease 0s;
      text-decoration: none;
      text-transform: uppercase; }
    #navigation__item a:hover, .navigation__item a:hover {
      color: #6D6027; }
  #navigation__menu, .navigation__menu {
    background-image: -webkit-gradient(linear, left top, right top, from(#6D6027), to(#D3CBB8));
    background-image: linear-gradient(to right, #6D6027, #D3CBB8);
    -webkit-background-clip: text;
    color: transparent;
    z-index: 100;
    position: fixed;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    align-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
    margin-top: -3.5rem;
    font-size: 7rem; }
    #navigation__menu-open, .navigation__menu-open {
      display: none; }
      @media only screen and (max-width: 56.25em) {
        #navigation__menu-open, .navigation__menu-open {
          display: block;
          position: fixed; } }
    #navigation__menu-close, .navigation__menu-close {
      display: none; }
  #navigation__btn-menu, .navigation__btn-menu {
    display: none; }
  #navigation__btn-menu:checked ~ #navigation__list, .navigation__btn-menu:checked ~ #navigation__list, #navigation__btn-menu:checked ~ .navigation__list, .navigation__btn-menu:checked ~ .navigation__list {
    margin-top: 0rem;
    top: 50rem;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 100rem;
    transition: all 1s; }
  #navigation__item:active ~ #navigation__list, .navigation__item:active ~ #navigation__list, #navigation__item:active ~ .navigation__list, .navigation__item:active ~ .navigation__list {
    background-color: red; }

.section-clases {
  background-color: #f7f7f7;
  padding: 12rem 0; }

.section-beneficios {
  background-color: #1a1a1a;
  padding: 10rem 0; }

.section-instalaciones {
  background-color: #f7f7f7;
  padding: 10rem 0rem 12rem; }
  @media only screen and (max-width: 37.5em) {
    .section-instalaciones {
      padding: 6rem 0rem 12rem; } }

.section-tarifas {
  background-color: #1a1a1a;
  padding: 12rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-tarifas {
      padding: 8rem 0; } }

.section-form {
  background-image: url(../img/form-copia.jpg);
  padding: 45rem 0;
  background-size: cover; }
